SUPABASE_URL=PASTE_YOUR_SUPABASE_URL_HERE
SUPABASE_ANON_KEY=PASTE_YOUR_SUPABASE_ANON_KEY_HERE
SUPABASE_SERVICE_KEY=PASTE_YOUR_SUPABASE_SERVICE_KEY_HERE
SUPABASE_JWT_SECRET=PASTE_YOUR_SUPABASE_JWT_SECRET_HERE
GEMINI_API_KEY=PASTE_YOUR_GEMINI_API_KEY_HERE
GEE_SERVICE_ACCOUNT=PASTE_YOUR_GEE_SERVICE_ACCOUNT_EMAIL_HERE
GEE_KEY_FILE=test_keys/gee_key.json
META_WA_TOKEN=PASTE_YOUR_WHATSAPP_TOKEN_HERE
META_WA_PHONE_ID=PASTE_YOUR_WA_PHONE_ID_HERE
DISEASE_MODEL_PATH=backend/ml/models/disease_model.h5
